[submodule "akitaaa"]
	path = akitaaa
	url = https://github.com/CesarMartinez7/new-directivas-primeng
[submodule "primeng"]
	path = primeng
	url = https://github.com/CesarMartinez7/new-directivas-primeng
